.main-illustration {
    width: 100%;
}

.latest-articles-container {
    margin-top: 50px;
}

.estimated-time {
    font-weight: 500;
}

.main-latest-article-container {
    display: flex;
    gap: 100px;
    margin-top: 30px;

    &__left, &__right {
        width: 50%;
    }
    
    &__right {

        &__tags {
            margin-top: 20px;
            display: flex;
            gap: 10px;
    
            & p {
                @include fourth-tile();
                color: $main-blue
            }
        }

        &__text-preview {
            margin-top: 30px;
        }

        &__estimated-time {
            display: flex;
            margin-top: 30px;
        }
    }
   
    &__article-date {
        margin-top: 15px
    }
}

.article-preview-container {
    margin-top: 75px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: left;

        &__texts__tags {
            margin-top: 5px;
            display: flex;
            gap: 10px;

            & p {
                @include fourth-tile();
                font-size: 16px;
                color: $main-blue
            }

            &__preview-text {
                margin-top: 5px;
            }
        }

        &__texts__metrics {
            margin-top: 5px;
            display: flex;
            gap: 15px
        }
}

.secondary-latest-articles {
    margin-top: 50px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}