.article-main-container {
    margin: auto;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;

    &__illustration {
        width: 80%;
        object-fit: cover;
        background-size: 50%;
    }

    &__header {
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-top: 50px;

        &__infos {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;

            &__time {
                display: flex;
                gap: 10px;
                margin-top: 20px;
            }
        }
    }

    &__text-content {
        margin-top: 100px
    }
}