.write-new-article-container {
    display: flex;
    flex-direction: column;

    &__name {
        width: 20%;
        height: 50px;
    }

    &__content {
        width: 80%;
        overflow:hidden;
    }

    &__image {
        color: rgba($main-white, .5)
    }

    & input, textarea, label {
        background: none;
        border: none;
        resize: none;
        margin-top: 100px;
        
        &::placeholder {
            font-size: 24px;
        }
    }

    & label {
        @include main-text;
        font-size: 24px;
        color: #6a6b6d;
    }
}