// Colors

$bg-gradient: linear-gradient(146.65deg, #020213 0.93%, #091C38 97.36%);
$main-white: #FFFFFF;
$main-blue: #383FEF;
$main-red: #E85A5A;
$main-yellow: #E8D95A;
$main-pink: #CB5AE8;
$main-purple: #050C20;

//Fonts 

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');