.comments-list-container {
    margin-top: 100px;
}

.comment-main-container {
    align-self: flex-start;
    border: $main-blue 1px solid;
    padding: 15px;
    margin-bottom: 25px;

    &__username {
        margin-bottom: 25px
    }
}