* {
    text-decoration: none;
    padding: 0;
}

h1, h2, h3, h4, p {
    margin: 0;
    letter-spacing: 1px;
}

input:focus, textarea:focus {
    outline: none;
}

textarea {
    resize: none
}

button {
    cursor: pointer;
}

input, select, textarea {
    @include main-text;
    }

img {
    -webkit-box-shadow:0px 0px 100px 0px rgba($main-pink, .5);
    -moz-box-shadow: 0px 0px 100px 0px rgba($main-pink, .5);
    box-shadow: 0px 0px 100px 0px rgba($main-pink, .5);
    border-radius: 10px;
}

body {
    background: $bg-gradient;
    margin: 0;
}

.main-container {
    margin: auto;
    margin-top: 30px;
    width: 75%;

    @media screen and (max-width: 1000px) {
        width: 85%;
    }
    @media screen and (max-width: 500px) {
        width: 90%;
    }
}
.pointer {
    cursor: pointer;
}
